Django==4.0.4
djangorestframework==3.13.1
markdown
django-filter
Pillow
django-cors-headers
djangorestframework-camel-case
mixer
djangorestframework-simplejwt==5.2.0
drf-yasg
wheel
graphene-django
psycopg2-binary
coverage
social-auth-app-django
requests==2.27.1
redis==4.3.3
celery==5.2.7
pytest